NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=  # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

GITHUB_ID=
GITHUB_SECRET=

DATABASE_URL=

STRIPE_SECRET=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ID=