@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-devs-black text-gray-50 overflow-x-hidden;
}

html,
body,
#__next {
  min-height: 100%;
}

@font-face {
  font-family: "Bossa";
  src: url("/fonts/Bossa-Medium.woff") format("woff"),
    url("/fonts/Bossa-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Bossa";
  src: url("/fonts/Bossa-Light.woff") format("woff"),
    url("/fonts/Bossa-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

@media screen and (min-width: 550px) {
  body .ticket {
    @apply -translate-x-1/2 scale-[0.8];
    transform-style: preserve-3d;
    transform: perspective(1000px);
  }
}

body .ticket {
  @apply -translate-x-1/2 scale-100;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.ripple {
  width: 10px;
  height: 10px;
  background-color: transparent;
  position: fixed;
  border-radius: 50%;
  border: 0.5px solid rgba(255, 255, 255, 0.3);
}

@keyframes ripple-effect {
  to {
    transform: scale(10);
    opacity: 0.3;
  }
}

@media screen and (max-width: 640px) {
  .h-full-no-header {
    margin-top: -135px;
    padding-top: 135px;
    min-height: calc(100vh - 135px);
  }
}
@media screen and (min-width: 640px) {
  .h-full-no-header {
    margin-top: -112px;
    padding-top: 112px;
    min-height: calc(100vh - 112px);
  }
}

@media screen and (max-width: 640px) {
  .h-full-minus-header {
    min-height: calc(100vh - 135px);
  }
}
@media screen and (min-width: 640px) {
  .h-full-minus-header {
    min-height: calc(100vh - 112px);
  }
}
