@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-devs-black text-gray-50 overflow-x-hidden;
}

html,
body,
#__next {
  min-height: 100%;
}

@font-face {
  font-family: "Bossa";
  src: url("/fonts/Bossa-Medium.woff") format("woff"),
    url("/fonts/Bossa-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Bossa";
  src: url("/fonts/Bossa-Light.woff") format("woff"),
    url("/fonts/Bossa-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

.gh-button:hover::before {
  opacity: 0.8;
}

.gh-button {
  @apply bg-transparent;
  transition: all 200ms ease;
}

.gh-button:hover {
  @apply bg-devs-black;
}

.gh-button::before {
  @apply opacity-0 absolute top-0 left-0 w-full h-full blur-lg;

  transition: all 200ms ease;
  content: "";
  background: rgb(39, 151, 250);
  background: linear-gradient(
    90deg,
    rgba(39, 151, 250, 1) 50%,
    rgba(231, 205, 84, 1) 50%
  );

  z-index: -1;
}

@media screen and (min-width: 550px) {
  body .ticket {
    transform: scale(0.8);
  }
}

@media screen and (min-width: 560px) {
  body .ticket {
    transform: scale(1);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
